
:root {
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-black-color: #2E2F42;
    --logo-blue:#4D5AE5;
    --logo-black:#2E2F42;
    --text-white-opacity:  rgba(255,255,255,0.6);
    --button-primary-hover: #188ce8; 
    --primary-hover-color:  #4D5AE5; 
    --button-filter: #fff;
    --background-black: #2f303a; 
    --background-grey: #f5f4fa;
    --hero-background:  #2E2F42;

}

body {
    
    text-decoration-line: none;
    list-style: none;
    color: var(--primary-black-color);
    font-family: 'Roboto', sans-serif;
    
}

.logo {

    text-decoration-line: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: var(--logo-black)
    

}

.logo-blue {

    color:var(--logo-blue)
}


.header-ctas {

    list-style: none;
}

.header-navigator-item {

    
    list-style: none;
}

.features-items {

    list-style: none;
}

.wawd-items {

    list-style: none;
}

.our-team-menu {

    list-style: none;
}

.categories-item {
    list-style: none;
}

.images-menu {
    list-style: none;
}

.header-navigator-item :hover {
    
    color: var(--primary-hover-color)
    
}

.header-navigator-item-ctas :hover {
    color: var(--primary-hover-color)
}


.order-service {
    
    color: var(--button-filter);
    background-color: var(--primary-hover-color) ;
    border-radius: 0%;
    border-color: none;
    cursor: pointer;
}

.hero {

    color: white;
    background-color: #2E2F42;
    margin: 0;
    
}

.image-title-item {
    font-weight: 500;
}

.images-menu {

    font-weight: 400;
}
